In [96]:
import pandas as pd
import xgboost as xgb
import numpy as np
def AggregationData(ARMA,col):
    ARMA = ARMA.T  
    base = PreProcessing(0,ARMA[0],col)
    for x in range(1,2001):
        k = x-1
        if k == 0:
            continue;
        shop = ARMA[k]
        shop =PreProcessing(k,shop,col)
        base = pd.merge(base,shop,how='outer')
    return base    
def PreProcessing(x,shop,col):
    shop = pd.DataFrame(shop)
    shop.drop('shop_id',inplace=True)
    shop.rename(columns={x:col},inplace='True')
    shop['shop_id'] = x+1
    return shop
def xgb_eval_custom_r(y_pred, dtrain):
    y_true = dtrain.get_label()
    up = np.sum(y_pred - y_true)
    down = np.sum(y_pred + y_true)
    whole = np.abs(up/down)
    Loss = whole/len(y_true)
    #here only predict one shop 
    return 'Loss', Loss

In [97]:
ARMA_D = pd.read_csv('C:\Users\Administrator\PycharmProjects\Customer\Predict\NewData\ARMA_D.csv')
ARMA = pd.read_csv('C:\Users\Administrator\PycharmProjects\Customer\Predict\NewData\ARMAmissing.csv')
ARMA = AggregationData(ARMA,'ARMA')
ARMA_D = AggregationData(ARMA_D,'ARMA_D')

In [98]:
ARMA['ARMA_D'] = ARMA_D['ARMA_D']
ARMA['ARMA_D_id'] = ARMA_D['shop_id']

In [99]:
ARMA

       ARMA  shop_id  ARMA_D  ARMA_D_id
0       212        1     158          1
1       221        1     164          1
2       223        1     166          1
3       223        1     166          1
4       224        1     166          1
5       224        1     166          1
6       224        1     166          1
7       224        1     166          1
8       224        1     166          1
9       224        1     166          1
10      224        1     165          1
11      224        1     165          1
12      224        1     165          1
13      224        1     165          1
14       85        2      61          2
15       97        2      67          2
16       97        2      72          2
17      103        2      74          2
18      104        2      74          2
19      102        2      74          2
20       99        2      74          2
21       99        2      74          2
22       96        2      74          2
23       96        2      74          2
24       95        2      74          2
25       95        2      74          2
26       95        2      74          2
27       98        2      75          2
28       70        3      62          3
29       72        3      68          3
...     ...      ...     ...        ...
27970   395     1998     283       1998
27971   385     1998     300       1998
27972   254     1999     189       1999
27973   248     1999     191       1999
27974   320     1999     192       1999
27975   334     1999     192       1999
27976   360     1999     193       1999
27977   350     1999     193       1999
27978   304     1999     194       1999
27979   256     1999     194       1999
27980   247     1999     194       1999
27981   269     1999     195       1999
27982   309     1999     195       1999
27983   337     1999     195       1999
27984   326     1999     196       1999
27985   285     1999     196       1999
27986   158     2000     126       2000
27987   118     2000      91       2000
27988   123     2000     102       2000
27989   105     2000     102       2000
27990    62     2000     101       2000
27991    70     2000      65       2000
27992   132     2000      72       2000
27993   138     2000     113       2000
27994   109     2000     113       2000
27995   125     2000      99       2000
27996   108     2000      76       2000
27997    63     2000     110       2000
27998    71     2000      73       2000
27999   129     2000      78       2000

[28000 rows x 4 columns]

In [ ]:
ToDrop=['Num','shop_id']
train_xgb = xgb.DMatrix(data=train_df.drop(ToDrop,axis=1)
                        ,label=train_df['Num'])
valid_xgb = xgb.DMatrix(data=test_df.drop(ToDrop,axis=1)
                        ,label=test_df['Num'])
predict_xgb = xgb.DMatrix(data = predict_df.drop(ToDrop,axis = 1))
params = {
  'objective': 'reg:linear'
  ,'eta': 0.1
  ,'max_depth': 6
  , 'subsample': 0.4
  , 'colsample_bytree': 0.9
  ,'min_child_weight': 12
  ,'gamma': 0.07
  , 'seed': 10
,'reg_alpha': 0.06
}       
evallist = [(train_xgb, 'train'), (valid_xgb, 'valid')]
model = xgb.train(params.items()
                  , dtrain=train_xgb
                  , num_boost_round=10000
                  , evals=evallist
                  , early_stopping_rounds=20
                  , maximize=False
                  , verbose_eval=10
                  , feval=xgb_eval_custom_r
              )
print "now it is:",shop_id
print ('get info from model')                  
print (model.best_score, model.best_iteration,model.best_ntree_limit)

result = pd.DataFrame(model.predict(predict_xgb,ntree_limit=model.best_ntree_limit))  
result = result.rename(columns={0:'Num'})
each_line = []
each_line.append(shop_id)
for Num in result.Num:
    each_line.append(Num) 
p_result.append(each_line)